/* ========== BANNER  ==========*/
.banner {
  background-image: url('../../image/bg.jpg');
  background-size: cover;

  background-position: right 50% bottom 38%;
}

.banner .banner__title {
  font-size: 6rem; /* 16px / 16px = 1rem */
  font-weight: bold;
  font-family: 'Oswald' ,sans-serif;
  line-height: 98px;
}

.banner .banner__description {
  margin-top: 2.8rem;
}

.banner__images {
  margin-top: 60px;
}

.banner .banner__images img {
  width: 160px;
  height: 160px;
  border: 6px solid #117050;
  border-radius: 50%;
  margin-right: 1.87rem;
}

.banner .banner__images img:nth-child(3) { margin-right: 0; }
