.section-areaTwo  {
  grid-template-columns: repeat(2, 1fr); 
}
.section-areaTwo__content {
  margin: 0 auto;
}
.section-area__title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Oswald' ,sans-serif;
  line-height: 40px;
}

.section-area__description {
  max-width: 28rem;
}

.section-areaTwo__image-one {
  height: 450px;
  background-image: url('../../image/f4.jpg');
  background-size: cover;
  background-position: center;
}
.section-areaTwo__image-two {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  background-image: url('../../image/f3.jpg');
  background-size: cover;
  background-position: center;
}