.banner__section {
  padding: 7.75rem 0;
}

.section-line {
  width: 168px;
  height: 22px;
  background-color: #006341;
}

.area-padding {
  padding: 5rem;
}

.spacing-margin {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.spacing-margin-top {
  margin-top: 3.43rem;
}
.section-area__italic {
  font-style: italic;
}
